.canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgb(247, 245, 228);
}

.icon {
    position: absolute;
    width: 40px;
    height: 40px;
}

.sofa {
    bottom: 110px;
    left: 360px;
}

.table {
    bottom: 50px;
    left: 430px;
}

.chair {
    bottom: 70px;
    right: 250px;
}

.human {
    bottom: 70px;
    left: 270px;
    width: 30px;
    height: 42px
}

.bookshelf {
    top: 140px;
    left: 150px;
}

.wall-selection-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wallpaper-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15)
}

.wallpaper-text {
    text-align: center;
}

.wallpaper-0 {
    background-color: #FFFDE7;
}

.wallpaper-1 {
    background-color: #EFD0D6;
}
.wallpaper-2 {
    background-color: #A1887F;
}
.wallpaper-3 {
    background-color: #78909C;
}

.selection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selection-wrapper .selection {
    position: relative;
    margin: 10px;
    border-radius: 25px;
    width: 68%;
    height: 100%;
}

.selection-wrapper .human-album {
    position: relative;
    margin: 10px;
    border-radius: 40px;
    width: 70%;
    height: 35%;
}

.selection-wrapper img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.selection-wrapper input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gallery-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-image {
    width: 160px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.reselect-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.reselect-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reselect-style-text {
    font-size: 1.4rem;
    font-weight: 100;
    color: #F7A207;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 10px;
  }

.album-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-image {
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    height: 200px;
}

.style-text {
    font-size: 1.3rem;
    font-weight: 100;
    color: #F7A207;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 10px;
  }

  .refresh {
      margin-left: 20px;
      width: 30px;
      height: 30px;
  }

  .house-type-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 1%;
  }

  .house-selected {
      width: 35px;
      margin: 10px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.15);   
      border-radius: 50%;    
  }

  .house-unselected {
    width: 25px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);   
    border-radius: 50%;   
  }

  .confirm-icon {
      width: 40px;
      height: 40px;
      margin-top: 20px
  }